<!DOCTYPE html>
<html>
<head>
    <title>Real-time Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script>

        document.addEventListener("DOMContentLoaded", function() {
            var ws;
            var wsUrl = 'ws://' + "127.0.0.1:5000" + '/data';
            var retryInterval = 5000;

            function connect() {
                ws = new WebSocket(wsUrl);

                ws.onopen = function() {
                    console.log('WebSocket connection established');
                    document.getElementById('world_population').innerHTML = '<p>Connected. Waiting for data...</p>';
                    document.getElementById('government_and_economics').innerHTML = '<p>Connected. Waiting for data...</p>';
                    document.getElementById('society_and_media').innerHTML = '<p>Connected. Waiting for data...</p>';
                    document.getElementById('environment').innerHTML = '<p>Connected. Waiting for data...</p>';
                    document.getElementById('food').innerHTML = '<p>Connected. Waiting for data...</p>';
                    document.getElementById('water').innerHTML = '<p>Connected. Waiting for data...</p>';
                    document.getElementById('energy').innerHTML = '<p>Connected. Waiting for data...</p>';
                    document.getElementById('health').innerHTML = '<p>Connected. Waiting for data...</p>';
                };

                ws.onerror = function() {
                    console.error('WebSocket connection error');
                };

                ws.onclose = function(e) {
                    console.log('WebSocket connection closed', e);
                    document.getElementById('world_population').innerHTML = '<p>WebSocket connection closed. Retrying...</p>';
                    document.getElementById('government_and_economics').innerHTML = '<p>WebSocket connection closed. Retrying...</p>';
                    document.getElementById('society_and_media').innerHTML = '<p>WebSocket connection closed. Retrying...</p>';
                    document.getElementById('environment').innerHTML = '<p>WebSocket connection closed. Retrying...</p>';
                    document.getElementById('food').innerHTML = '<p>WebSocket connection closed. Retrying...</p>';
                    document.getElementById('water').innerHTML = '<p>WebSocket connection closed. Retrying...</p>';
                    document.getElementById('energy').innerHTML = '<p>WebSocket connection closed. Retrying...</p>';
                    document.getElementById('health').innerHTML = '<p>WebSocket connection closed. Retrying...</p>';
                    setTimeout(connect, retryInterval);
                };

                ws.onmessage = function(event) {
                        var data = JSON.parse(event.data);

                        function createCardContent(categoryData) {
                            let content = '';
                            for (const key in categoryData) {
                                content += `<p>${categoryData[key]}</p>`;
                            }
                            return content;
                        }

                        document.getElementById('world_population').innerHTML = 
                            `<div class="card bg-primary text-white" style="max-width: 750px;">
                                <div class="card-header">World Population</div>
                                <div class="card-body">
                                    <p>${data.current_world_population}</p>
                                    <p>${data.births_this_year}</p>
                                    <p>${data.births_today}</p>
                                    <p>${data.deaths_this_year}</p>
                                    <p>${data.deaths_today}</p>
                                    <p>${data.net_growth_this_year}</p>
                                    <p>${data.net_growth_today}</p>
                                </div>
                            </div>`;

                        document.getElementById('government_and_economics').innerHTML = 
                            `<div class="card bg-success text-white" style="max-width: 750px;">
                                <div class="card-header">Government and Economics</div>
                                <div class="card-body">
                                    <p>${data.public_healthcare_expenditure_today}</p>
                                    <p>${data.public_education_expenditure_today}</p>
                                    <p>${data.public_military_expenditure_today}</p>
                                    <p>${data.cars_produced_this_year}</p>
                                    <p>${data.bicycles_produced_this_year}</p>
                                    <p>${data.computers_produced_this_year}</p>
                                </div>
                            </div>`;

                        document.getElementById('society_and_media').innerHTML = 
                            `<div class="card bg-primary text-white" style="max-width: 750px;">
                                <div class="card-header">Society and Media</div>
                                <div class="card-body">
                                    <p>${data.new_books_published_this_year}</p>
                                    <p>${data.newspapers_circulated_today}</p>
                                    <p>${data.tv_sets_sold_worldwide_today}</p>
                                    <p>${data.cellular_phones_sold_today}</p>
                                    <p>${data.money_spent_on_videogames_today}</p>
                                    <p>${data.internet_users_in_the_world_today}</p>
                                    <p>${data.emails_sent_today}</p>
                                    <p>${data.blog_posts_written_today}</p>
                                    <p>${data.tweets_sent_today}</p>
                                    <p>${data.google_searches_today}</p>
                                </div>
                            </div>`;

                        document.getElementById('environment').innerHTML = 
                            `<div class="card bg-success text-white" style="max-width: 750px;">
                                <div class="card-header">Environment</div>
                                <div class="card-body">
                                    <p>${data.forests_lost_this_year}</p>
                                    <p>${data.land_lost_to_soil_erosion_this_year}</p>
                                    <p>${data.co2_emissions_this_year}</p>
                                    <p>${data.desertification_this_year}</p>
                                    <p>${data.toxic_chemicals_released_in_the_environment_this_year}</p>
                                </div>
                            </div>`;

                        document.getElementById('food').innerHTML = 
                            `<div class="card bg-primary text-white" style="max-width: 750px;">
                                <div class="card-header">Food</div>
                                <div class="card-body">
                                    <p>${data.undernourished_people_in_the_world}</p>
                                    <p>${data.overweight_people_in_the_world}</p>
                                    <p>${data.obese_people_in_the_world}</p>
                                    <p>${data.people_who_died_of_hunger_today}</p>
                                    <p>${data.money_spent_on_obesity_related_diseases_in_the_usa_today}</p>
                                    <p>${data.money_spent_on_weight_loss_programs_in_the_usa_today}</p>
                                </div>
                            </div>`;

                        document.getElementById('water').innerHTML = 
                            `<div class="card bg-success text-white" style="max-width: 750px;">
                                <div class="card-header">Water</div>
                                <div class="card-body">
                                    <p>${data.water_used_this_year}</p>
                                    <p>${data.deaths_caused_by_water_related_diseases_this_year}</p>
                                    <p>${data.people_with_no_access_to_a_safe_drinking_water_source}</p>
                                </div>
                            </div>`;

                        document.getElementById('energy').innerHTML = 
                            `<div class="card bg-primary text-white" style="max-width: 750px;">
                                <div class="card-header">Energy</div>
                                <div class="card-body">
                                    <p>${data.energy_used_today}</p>
                                    <p>${data.from_non_renewable_sources}</p>
                                    <p>${data.from_renewable_sources}</p>
                                    <p>${data.solar_energy_striking_earth_today}</p>
                                    <p>${data.oil_pumped_today}</p>
                                    <p>${data.oil_left}</p>
                                    <p>${data.days_to_the_end_of_oil}</p>
                                    <p>${data.natural_gas_left}</p>
                                    <p>${data.days_to_the_end_of_natural_gas}</p>
                                    <p>${data.coal_left}</p>
                                    <p>${data.days_to_the_end_of_coal}</p>
                                </div>
                            </div>`;

                        document.getElementById('health').innerHTML = 
                            `<div class="card bg-success text-white" style="max-width: 750px;">
                                <div class="card-header">Health</div>
                                <div class="card-body">
                                    <p>${data.communicable_diseases_this_year}</p>
                                    <p>${data.seasonal_flu_deaths_this_year}</p>
                                    <p>${data.deaths_of_children_under_5_this_year}</p>
                                    <p>${data.abortions_this_year}</p>
                                    <p>${data.deaths_of_mothers_during_birth_this_year}</p>
                                    <p>${data.hiv_aids_infected_people_this_year}</p>
                                    <p>${data.deaths_caused_by_hiv_aids_this_year}</p>
                                    <p>${data.deaths_caused_by_cancer_this_year}</p>
                                    <p>${data.deaths_caused_by_malaria_this_year}</p>
                                    <p>${data.cigarettes_smoked_today}</p>
                                    <p>${data.deaths_caused_by_smoking_this_year}</p>
                                    <p>${data.deaths_caused_by_alcohol_this_year}</p>
                                    <p>${data.suicides_this_year}</p>
                                    <p>${data.money_spent_on_illegal_drugs_this_year}</p>
                                    <p>${data.road_traffic_accident_fatalities_this_year}</p>
                                </div>
                            </div>`;

                    };
            }

            connect();
        });

    </script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body class="bg-dark">
    
    <div class="container my-5">
        <div id="world_population" class="row justify-content-center"></div>
        <div id="government_and_economics" class="row justify-content-center mt-4"></div>
        <div id="society_and_media" class="row justify-content-center mt-4"></div>
        <div id="environment" class="row justify-content-center mt-4"></div>
        <div id="food" class="row justify-content-center mt-4"></div>
        <div id="water" class="row justify-content-center mt-4"></div>
        <div id="energy" class="row justify-content-center mt-4"></div>
        <div id="health" class="row justify-content-center mt-4"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>